.active {
  color: #8F19E7;
  font-weight: 600;
  font-size: 16px;
}
@keyframes bubble {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
